<%= content_for(:header_text, @ministry.title) %>

<% if @organizer %>
  <div class="organizer-breadcrumb">
    You are an organizer of this ministry!

    <div class="header-actions">

        <%= link_to 'Edit', edit_ministry_path(@ministry), class: "btn fa-before fa-edit" %>

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="critical-details">
      <% if @ministry.location %>
        <%= link_to pretty_print_address(@ministry.location), location_map_link(@ministry.location) %>
      <% else %>
        This ministry currently has no location!
      <% end %>
    </div>

    <div class='session-display'>
        <div class='event-session'>
          <h2 class='name'>When</h2>

          <div class='date'><%= @ministry.when %></div>

        </div>
 
    </div>
    <div class="details">
    <h2 class='name'>What</h2>
      <%= simple_format_with_html(@ministry.details) %>
    </div>
  </div>
  <div class="col-md-4">

    <div class='location-display'>
      <% if @ministry.location.present? && !Rails.env.test? %>
        <%= render "shared/map", location: @ministry.location %>
      <% end %>
    </div>




  </div>
</div>